    <!-- Contact -->
    <div id="contact">
        <div class="bg-color-sky-light">
            <div class="container content-lg">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h2>İletişim</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret
                            dolore magna aliqua enim minim veniam exercitation</p>
                    </div>
                </div>
                <!--// end row -->

                <div class="row">
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h4>Adres</h4>
                        <a href="http://keenthemes.com/">Gültepe Mahallesi Köşk Caddesi Bayraktar Apartmanı No: 3 Kat: 11/31 Melikgazi/KAYSERİ</a>
                        <br>
                        <a href="http://keenthemes.com/">Demetlale Mahallesi 407. Cadde Nasip Apartmanı No: 104 Kat: 5/10 Yenimahalle/ANKARA</a>
                    </div>
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h4>Telefon</h4>
                        <a href="tel:+905076000349">+90 507 600 0349</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h4>Email</h4>
                        <a href="mailto:mburakyucel38@gmail.com">mburakyucel38@gmail.com</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h4>Web</h4>
                        <a href="http://mburak.sonbellek.com">mburak.sonbellek.com</a>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
    </div>
    <!-- End Contact -->
    <!--========== END PAGE LAYOUT ==========-->
<!--========== FOOTER ==========-->
<footer class="footer">
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" src="assets/img/logo.png" alt="Acecv Logo">
            </div>
            <div class="col-xs-6 text-right sm-text-left">
                <p class="margin-b-0"><a class="fweight-700" href="http://keenthemes.com/preview/acecv/">Acecv</a>
                    Theme Powered by: <a class="fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a>
                </p>
            </div>
        </div>
        <!--// end row -->
    </div>
</footer>
<!--========== END FOOTER ==========-->